doctype html
html
	head
		title Himawari
		meta(name='viewport' content='width=device-width,initial-scale=1.0')
		meta(charset='utf-8')
		script(src='http://localhost:6160/socket.io/socket.io.js')
	body
		main
		script(src='index.js')